.election {
  margin-left: 175px;
}

.election h1 {
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 60px;
  color: black;
}

.election-grid {
  position: absolute;
  top: 33%;
  font-size: 40px;
  color: black;
  display: grid;
  grid-template-columns: repeat(50px);
  font-family: Arial, Helvetica, sans-serif;
}

.grid-item {
  padding-left: 220px;
  padding-bottom: 10px;
}

.line1 {
  position: absolute;
  top: 40%;
  width: 80%;
  background-color: black;
  height: 2px;
  border: 0;
}

.line2 {
  position: absolute;
  top: 57%;
  width: 80%;
  background-color: black;
  height: 2px;
  border: 0;
}

.line3 {
  position: absolute;
  top: 75%;
  width: 80%;
  background-color: black;
  height: 2px;
  border: 0;
}

.search {
  position: absolute;
  top: 26%;
  right: 10.5%;
  width: 350px;
  border-radius: 4px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow-y: scroll;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.react-bs-table table td, .react-bs-table table th {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}