body {
    margin: 0px;
}

.form h1 {
    text-align: center;
    font-size: 50px;
    color: black;
    margin-top: -10px;
}

.form {
    width: 600px;
    height: 570px;
    padding: 30px;
    position: absolute;
    top: 16%;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid black;
    margin: 50px auto;
    border-radius: 15px;
}

.form button {
    border-radius: 7px;
    border: solid 2px black;
    font-size: 35px;
    background: transparent;
    padding: 8px 12px;
    width: 595px;
    height: 60px;
    margin-top: 10px;
}

.full-textarea {
    border-radius: 10px;
    font-size: 23px;
    color: black;
    width: 580px;
    background: transparent;
    border: 2px solid black;
    height: 50px;
    padding: 4px 7px;
    outline: 0;
    margin-bottom: 24px;
}

.half-textarea {
    border-radius: 10px;
    font-size: 23px;
    color: black;
    background: transparent;
    border: 2px solid black;
    width: 250px;
    height: 50px;
    padding: 4px 7px;
    outline: 0;
    margin-bottom: 24px;
}

.half-margin-textarea {
    margin-right: 63px;
}

.contact-textarea {
    border-radius: 10px;
    font-size: 23px;
    color: black;
    background: transparent;
    border: 2px solid black;
    width: 315px;
    height: 50px;
    padding: 4px 7px;
    outline: 0;
    margin-bottom: 24px;
}

.gender-box {
    background-color: black;
    color: white;
    padding: 12px;
    width: 200px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.gender-box:active {
    background-color: black;
    color: white;
    padding: 12px;
    width: 200px;
    border: none;
    font-size: 20px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.state-box {
    background-color: black;
    color: white;
    padding: 12px;
    width: 595px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    margin-bottom: 24px;
}

.state-box:active {
    background-color: black;
    color: white;
    padding: 12px;
    width: 595px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}
