.register h1{
    text-align: center;
    margin-top: -10px;
}

.form {
    width: 600px;
    height: 570px;
    padding: 30px;
    position: absolute;
    background-color: #BCEBF8;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
    border-radius: 15px;
    border: solid 2px #3a4180;
}

.register button {
    border-radius: 7px;
    border: solid 2px #3a4180;
    background: rgb(157, 181, 200);
    padding: 8px 12px;
    width: 595px;
    height: 60px;
    margin-top: 10px;
}

.full-textarea {
    border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 2px 2px 3px #00008b;
    font-size: 23px;
    color: #00008b;
    width: 580px;
    height: 50px;
	padding: 4px 7px;
    outline: 0;
    margin-bottom: 24px;
}
.half-textarea {
    border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 2px 2px 3px #00008b;
    font-size: 23px;
    color: #00008b;
    width: 250px;
    height: 50px;
	padding: 4px 7px;
    outline: 0;
    margin-bottom: 24px;
}

.half-margin-textarea {
    margin-right: 63px;
}

.contact-textarea {
    border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 2px 2px 3px #00008b;
    font-size: 23px;
    color: #00008b;
    width: 315px;
    height: 50px;
	padding: 4px 7px;
    outline: 0;
    margin-bottom: 24px;
}

textarea:focus {
	border-color: #339933;
}

.box {
    width: 200px;
    height: 55px;
    font-size: 5px;
    border: 1px solid #999;
    font-size: 23px;
    color: #1c87c9;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #00008b;
}