.register div h1{
    text-align: center;
    font-size: 35px;
    color: #00008b;
    margin-top: -10px;
}

.form {
    width: 600px;
    height: 570px;
    padding: 30px;
    position: absolute;
    background-color:#BCEBF8;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
    border-radius: 15px;
    border: solid 2px #3a4180;
}

.register button {
    border-radius: 7px;
    border: solid 2px #3a4180;
    background: rgb(157, 181, 200);
    padding: 8px 12px;
    width: 595px;
    height: 60px;
    margin-top: 10px;
}

.full-textarea {
    border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 2px 2px 3px #00008b;
    font-size: 23px;
    color: #00008b;
    width: 580px;
    height: 50px;
	padding: 4px 7px;
    outline: 0;
    margin-bottom: 24px;
}
.half-textarea {
    border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 2px 2px 3px #00008b;
    font-size: 23px;
    color: #00008b;
    width: 250px;
    height: 50px;
	padding: 4px 7px;
    outline: 0;
    margin-bottom: 24px;
}

.half-margin-textarea {
    margin-right: 63px;
}

.contact-textarea {
    border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 2px 2px 3px #00008b;
    font-size: 23px;
    color: #00008b;
    width: 315px;
    height: 50px;
	padding: 4px 7px;
    outline: 0;
    margin-bottom: 24px;
}

textarea:focus {
	border-color: #339933;
}

.gender-box {
    background-color: #0563af;
    color: white;
    padding: 12px;
    width: 200px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.gender-box:active {
    background-color: #0563af;
    color: white;
    padding: 12px;
    width: 200px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.state-box {
    background-color: #0563af;
    color: white;
    padding: 12px;
    width: 580px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    margin-bottom: 24px;
}

.state-box:active {
    background-color: #0563af;
    color: white;
    padding: 12px;
    width: 580px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}
